@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald:wght@200..700&family=Pacifico&family=Science+Gothic:wght@100..900&display=swap');
header, footer {
  background-color: #9debf5;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: silver;
}

.post {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post img {
  margin: 20px;
}

.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
  margin: 20px;
}
body{
    font-family: "Science Gothic", sans-serif;
}